# riecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.riecoin
host=127.0.0.1

#mainnet default
port=28332

#testnet default
#port=38332

#regtest default
#port=38443

#signet default
#port=48332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=fcbcb2db
genesis=e1ea18d0676ef9899fbc78ef428d1d26a2416d0f0441d46668d33bcb41275740
input=/home/example/.riecoin/blocks

# testnet
#netmagic=0d091105
#genesis=a437561f7e97ee05f336c12b36900ccf3ef19851a08805c1452d69a4efcbe701
#input=/home/example/.riecoin/testnet3/blocks

# regtest
#netmagic=fabfb5da
#genesis=cc673f6ea26e6477ab71b67c47149a4206b2098be8612f7e8357aeb1523ee01b
#input=/home/example/.riecoin/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/example/.riecoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
